<html>
  <head>
    <meta charset="utf-8">

    <title>I18next Test</title>
    <meta name="description" content="Testing site for i18next">
    <meta name="author" content="Chad Baldwin">

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  </head>

  <body>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/i18next/i18next.min.js"></script>
    <script src="node_modules/ng-i18next/dist/ng-i18next.min.js"></script>
    <script src="main.js"></script>
    <div ng-app="i18nextTestApp" ng-controller="mainCtrl">
      <h1>Testing filters</h1>
        <h2>Static Text</h2>
          <p>{{'static text' | i18next}}</p>
        <h2>Text from Scope</h2>
          <p>{{ textFromScope | i18next }}</p>

      <br/>

      <h1>Testing Directives</h1>
        <h2>String in directive</h2>
          <p ng-i18next="static text">
        <h2>String from scope</h2>
          <p ng-i18next="{{ textFromScope }}"></p>
        <h2>Directive with text in HTML tag</h2>
          <p ng-i18next>static text</p>
        <h2>Directive with variable from scope in tag</h2>
          <p ng-i18next>{{ textFromScope }}</p>
        <h2>Directive with static string compiled to HTML</h2>
          <p ng-i18next="[html]static text"></p>
        <h2>Directive with scope string compiled to HTML</h2>
          <p ng-i18next="[html]{{ textFromScope }}"></p>

        <button ng-click="changeLanguage()">Change Language</button>
    </div>
  </body>
<html>
